# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
!*.go
!*.yaml
!*.sql
!backend/*
!frontend/*
backend/static
backend/assets
# default .exe file of backend
backend/backend
# docker cache
backend/database/cache
# Go workspace file
go.work